NEXT_PUBLIC_IDENTITY_SERVICE_URL=http://localhost:4101
NEXT_PUBLIC_CATALOG_SERVICE_URL=http://localhost:4102
NEXT_PUBLIC_CUSTOMER_SERVICE_URL=http://localhost:4103
NEXT_PUBLIC_ORDER_SERVICE_URL=http://localhost:4104
NEXT_PUBLIC_EXPENSE_SERVICE_URL=http://localhost:4105
